body{
    margin:0;
    text-align: center;
}

header{
    background-image: url(https://bit.ly/2ZxFGuU);   
    background-size: cover;
    color: white;  
    padding: 60px;
    font-size: 20px;
}
.container{
    max-width:800px;
    margin: auto;  
}

.container_2{
    max-width: 800px;
    background-color: lightgrey;

}


