body {
  margin: 0;
  text-align: center;
}

header {
  background-image: url(https://bit.ly/2ZxFGuU);
  background-size: cover;
  color: white;
  padding: 60px 10%;
  font-size: 20px;
}

.title {
  font-weight: bold;
  font-size: 30px;
}
.container {
  max-width: 800px;
  margin: auto;
}

button {
  padding: 15px;
  background-color: rgb(59, 58, 58);
  color: white;
  border: solid 1px white;
}

button:hover {
  background-color: white;
  color: black;
}

.container_2 {
  background-color: lightgrey;
  padding: 30px;
}

.container_2 p{
    columns:2;
}
.title_2 {
  font-weight: bold;
  font-size: 25px;
}

.container_3 {
  background-color: rgb(34, 33, 33);
  padding: 30px;
  display: flex; 
  justify-content: center;
}

.content{
    padding:25px;
}

.card{
  width: 200px ;
  background-color: white;
   margin:20px; 
  
}
 
.container_4 {
  color: rgb(34, 33, 33);
  padding: 30px;
}

.container_5 {
  display: flex;
}

.box-3 {
  background-color: rgb(84, 180, 240);
  color: white;
  padding: 30px;
}

.box-4 {
  background-color: rgb(34, 33, 33);
  color: white;
  padding: 30px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
}

footer{
  background-color: black;
  color: white;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
